.bethanyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10px;
}

.logo {
  width: 250px;
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.navLinks {
  display: flex;
  gap: 23px;
  margin: 30px;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.25rem;
}

.donateButton {
  background-color: #4c52a0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.donateButton:hover {
  background-color: #393f7b;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.menuIcon {
  color: #333;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -30px;
    left: -2pc;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    justify-content: center;
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navLinks.open {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }

  .navLinks a {
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .donateButton {
    display: none;
  }

  .navLinks.open .donateButton {
    display: block;
    background-color: #4c52a0;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 20px;
  }

  .menuToggle {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 11;
  }

  .menuIcon {
    color: #333;
  }

  .donateButton:hover {
    background-color: #393f7b;
  }
}
